<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>imageMerge</title>
		<!-- Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/introduction.css">
		<!-- jQuery文件 -->
		<script src="/scripts/jQuery3.3.1.js"></script>
		<!-- Bootstrap 核心 JavaScript 文件 -->
		<script src="/scripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
		<script src="/scripts/introduction.js"></script>
	</head>
	<body>
		<div id="backgroundCanvas">
			<div id="grad1"></div>
			<div id="grad2"></div>
			<!--<div id="gradBackgroud"></div>-->
		</div>
		<div id="top" >
			<div id="introductionText">
			<h1>introduction </h1>
			<p>使用者可以任意選取多張圖片，合併成目標圖片，朋友間可增進趣味，情侶間可加溫感情~</p>
			<dl>
				<dt>step 1 </dt>
				<dd>請選擇多張圖片作為基底</dd>
				<dt>step 2 </dt>
				<dd>請選擇欲合成的圖片</dd>
				<dt>step 3 </dt>
				<dd>合併圖片</dd>
				<dt>step 4 </dt>
				<dd>取得結果</dd>
			</dl>
			</div>
		</div>
		<div id="bottom">
			<img src="/resource/image/mergeImageSample.jpg" class="img-thumbnail center-block">
		</div>
	</body>
</html>