<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="/scripts/jQuery3.3.1.js"></script>
    <script src="/scripts/mergeImage.js"></script>
</head>

<body style="overflow-x: hidden;">
   <!--  <div>
    <p>請選擇圖片</p>
    	<button id = "nextStep" class="btn btn-success">下一步</button>
    </div> -->

    <div class="row">
        <div id=question class="col-xs-6">
        </div>
        <div id=next class="col-xs-6">
            <button id = "nextStep" class="btn btn-success">下一步</button>
        </div>
    </div>
    <div id = "content">
    </div>
</body>
</html>